{% extends 'base.html' %}

{% block title %} Nuevo Proyecto {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-4">
        <h2 class="mb-3 mb-md-0">Registrar Nuevo Proyecto</h2>
    </div>

    <form method="POST" action="{{ url_for('registrar_proyecto') }}" class="row g-3 needs-validation" novalidate>

        <!-- Comenzales -->
        <div class="col-md-4">
            <label for="comensalesA" class="form-label">No. Comensales</label>
            <input type="number" class="form-control" name="comensalesA" id="comensalesA" min="1" placeholder="Ingresa una cantidad de comensales" required>
        </div>

        <!-- Salon -->
        <div class="col-md-4">
            <label for="salonA" class="form-label">Salon:</label>
            <select name="salonA" id="salonA" class="form-select" required>
                <option value="" selected disabled>Selecciona un salon</option>
                {% for salon in salones %}
                    <option value="{{salon.id_salon}}">{{salon.nombre_salon}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Gerente -->
        <div class="col-md-4">
            <label for="gerenteA" class="form-label">Gerente:</label>
            <select name="gerenteA" id="gerenteA" class="form-select" required>
                <option value="" selected disabled>Selecciona un gerente</option>
                {% for gerente in gerentes %}
                    <option value="{{gerente.id_gerente}}">{{gerente.nombre_gerente}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Usuario -->
        <div class="col-md-4">
            <label for="nombre" class="form-label">Usuario:</label>
            <select name="usuarioA" id="usuarioA" class="form-select" required>
                <option value="" selected disabled>Selecciona un usuario</option>
                {% for usuario in usuarios %}
                    <option value="{{usuario.id_usuario}}">{{usuario.nombre_usuario}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Paquete -->
        <div class="col-md-4">
            <label for="paquete" class="form-label">Paquete:</label>
            <select name="paqueteA" id="paqueteA" class="form-select" required>
                <option value="" selected disabled>Selecciona un paquete</option>
                {% for paquete in paquetes %}
                    <option value="{{paquete.id_paquete}}">{{paquete.nombre_paquete}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Fecha evento -->
        <div class="col-md-4">
            <label for="fechaA" class="form-label">Fecha del evento: </label>
            <input type="date" class="form-control" name="fechaA" id="fechaA" required>
        </div>

        <!-- Anticipo -->
        <div class="col-md-4">
            <label for="anticipoA" class="form-label">Anticipo:</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" name="anticipoA" id="anticipoA" min="1" step="1" required>
            </div>
        </div>

        <!-- Estatus evento -->
        <div class="col-md-4">
            <label for="estatusA" class="form-label">Estatus del evento:</label>
            <select name="estatusA" id="estatusA" class="form-select" required>
                <option value="" selected disabled>Selecciona un estado</option>
                <option value="0">Pendiente</option>
                <option value="1">Activo</option>
                <option value="2">Cancelado</option>
                <option value="3">Completado</option>
            </select>
        </div>

        <!-- Botones -->
        <div class="col-12 mt-4">
            <button class="btn btn-success" type="submit">
                <i class="fa-solid fa-list-check"></i> Registrar Proyecto
            </button>
            <a href="{{ url_for('admin_proyectos') }}" class="btn btn-secondary ms-2">
                <i class="fa-solid fa-times me-1"></i> Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock %}