{%extends 'base.html' %}

{% block title %} Proyectos - Administrador {% endblock %}

{% block content %}
    <div class="contenedor">
        <div class="titulo">
            <h2>Proyectos</h2>
        </div>
        <div class="contenido">
            <button type="button" class="btn btn-primary agregar">Agregar proyecto<i class="fa-solid fa-circle-plus"></i></button>
        </div>
        <div>
            <table class="tabla-proyectos table" id="proyectos">
                <thead class="table-cabecera">
                    <tr>
                        <th>ID</th>
                        <th>Comensales</th>
                        <th>Fecha de evento</th>
                        <th>Anticipo</th>
                        <th>Estatus del evento</th>
                    </tr>
                </thead>
                <tbody>
                    <th>texto aquí</th>
                    <th>texto aquí</th>
                    <th>texto aquí</th>
                    <th>texto aquí</th>
                    <th>texto aquí</th>
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}
