/* Estilo para la sección hero */
.hero-section {
    background: url('../img/banquete.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*Estilo para carousel */
.carousel-item img {
    height: 600px; /* o el tamaño deseado */
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

/*Resaltar texto en carousel*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6); /* fondo negro translúcido */
    padding: 1rem;
    border-radius: 10px;
    color: #fff; /* texto blanco */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-section .container {
    position: relative;
    z-index: 1;
}

/* Espaciado para secciones */
section {
    padding: 80px 0;
}

.agregar {
    margin-bottom: 10px;
}