<hr class="mt-0">

<footer class="bg-light mt-5">
    <div class="container">
        <div class="text-center py-3">
            <a href="#" class="text-decoration-none me-3"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-decoration-none"><i class="fab fa-instagram"></i></a>
            <p class="mb-1">&copy; 2025 Banquetes de Catherine – Todos los derechos reservados</p>
            <p class="mb-0">Equipo de desarrollo: Alejandra, Ángeles, Blanca, Fredy, Michelle.</p>
        </div>
    </div>


</footer>