<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banquetes de Catherine - Bienvenidos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

{%extends 'base.html' %}

{% block title %} Banquetes de Catherine - Bienvenidos {% endblock %}

{% block content %}
    <div class="contenedor">
        <div class="titulo">
            <h2>Bienvenidos</h2>
        </div>

        <p>Hola mundo, esto es Flask!</p>
    <table>
        <tr>
            <th>No. Usuario</th>
        </tr>
        {% for i in consulta %}
        <tr>
            <th>{{i}}</th>
        </tr>
        {% endfor %}
    </table>

    </div>    
    

    {#Esto es un comentario#}

{% endblock %}
</html>