{% extends 'base.html' %}
{% block title %} Asignar Contraseña {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Asignar Contraseña al Cliente</h2>

    <form action="{{ url_for('aprobar_solicitud', id=solicitud.id_solicitud) }}" method="POST">
        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <p>{{ solicitud.nombre }} {{ solicitud.apaterno }} {{ solicitud.amaterno }}</p>
        </div>

        <div class="mb-3">
            <label for="pass" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="pass" id="pass" required>
        </div>

        <button type="submit" class="btn btn-success">Crear Cliente</button>
        <a href="{{ url_for('ver_solicitudes') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
